/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

/* quiz placement on screen and style */
header {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: antiquewhite;
}

main {
    margin: 50px;
    padding: 50px;
    border-style: solid;
}

a {
   text-decoration: none;     
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: purple;
}

button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

li {
    background-color: cornflowerblue;
    color: antiquewhite;
    padding: 20px;
    margin: 5px;
}

/* by id */
#quiz {
    color: black;
    font-weight: bold;
    padding: 20px;
}

#timer {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#starterP {
    color: black;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
}

#makeP {
    color: black;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
}

#makeDiv {
    margin: 10px;
    padding: 10px;
}

#initials {
    margin: 10px;
    width: 50px;
}